@page
@model FootballCatalogue.Pages.Players.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of all players</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Player) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
